*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    margin: 30px 0px;
    margin-left: 50px;
    background-color: #ffffff;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-items{
    display: flex;
    width: 700px;
    justify-content: space-around;
    color: #5c6299;
}

.signin-btn{
    padding: 5px 10px;
    border-radius: 30px;
    width: 100px;
    background: linear-gradient( to right,#965cf2 40%, #ff8adc);
    color: #ffffff;
    border: none;
}

.left-section{
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    top: 135px;
    left: 60px;
}


[alt="backcover-img"]{
    display: flex;
    width: 46vw;
    z-index: -1;
    justify-content: flex-end;
    align-content: flex-end;
    position: absolute;
    top: 0px;
    left: 717px;
}

[alt="intro-img"]{
    position: relative;
    bottom: 195px;
    left: 550px;
    height: 80vh;
}

.vector-img{
    position: relative;
    bottom: 300px;
    left: 670px;
}

.vector-dot{
    position: relative;
    bottom: 375px;
    left: 615px;
}

.left-section > h1{
    font-family: "Roboto", sans-serif;
    font-size: 70px;
    color:  #3e4794;
}

.left-section > h4{
    color: #a0a3b7;
    width: 300px;
    position: relative;
    top: 30px;
}

.learn-more-btn{
    width: 150px;
    padding: 15px 10px;
    border-radius: 30px;
    position: relative;
    top: 70px;
    color: #ffffff;
    background: linear-gradient( to right,#965cf2 40%, #ff8adc);
    font-size: 15px;
    border: none;
}